@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.info:nth-of-type(even) {
  flex-direction: row-reverse;
  margin-left: auto;
  background-color: #ece7e9;
  color: #4c4951;
  animation-name: slideInReverse;
}

.info:nth-of-type(odd) {
  flex-direction: row;
  margin-right: auto;
  color: #ece7e9;
  background-color: #4c4951;
}

.bg-our-red {
  background-color: #a83d49;
}

.bg-our-grey {
 background-color: #9a9c97;
}

.bg-our-white {
  background-color: #ece7e9;
}

.bg-our-black {
  background-color: #4c4951;
}

.our-gradient {
  background: linear-gradient(90deg,#a83d49 20%, #4c4951 50% ,#a83d49 80% );
}

.bg-castle {
  background-image: url("/chateau_vue_ciel_plongee.jpg");
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-text {
  animation: slideIn 0.8s ease-out forwards;
}

/* Modify your existing .info classes to handle the slide direction */
.slide-in-text {
  animation-name: slideInReverse;
}

@keyframes slideInReverse {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.shadowed {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.my-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}